<div>
  <button pButton label="Hola" icon="pi pi-user" (click)="traeInformacion()">
    has click
  </button>
</div>

<p-carousel
  [value]="carrouselPages"
  [numVisible]="1"
  [numScroll]="1"
  (onPage)="ver($event)"
  [showNavigators]="true"
>
  <ng-template pTemplate="item" let-i="index">
    <div class="Contenedor" *ngIf="openandclose">
      <app-barras-estadisticas
        *ngIf="page"
        class="contenedor__barras"
      ></app-barras-estadisticas>
      <div class="contenedor__tabla">
        <p-table
          responsiveLayout="scroll"
          scrollHeight="500px"
          class="card__table"
          [value]="valores"
          sortField="Area.name"
          sortMode="single"
          dataKey="Area.name"
          rowGroupMode="subheader"
          groupRowsBy="Area.name"
          *ngIf="!page"
        >
          <ng-template pTemplate="header">
            <tr>
              <th colspan="1" class="header__codigo header__item">Codigo</th>
              <th colspan="2" class="header__item">Descripción</th>
              <th colspan="1" class="header__item">Cantidad</th>
              <th colspan="1" class="header__item">Valor Unitario</th>
              <th colspan="2" class="header__vaalorTotal header__item">
                Valor Total
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="groupheader"
            let-valor
            let-rowIndex="rowIndex"
            let-expanded="expanded"
          >
            <tr>
              <td colspan="5">
                <button
                  type="button"
                  pButton
                  pRipple
                  [pRowToggler]="valor"
                  class="p-button-text p-button-rounded p-button-plain mr-2"
                  [icon]="
                    expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                  "
                ></button>
                <div class="contenedor__icono" style="margin-left: 10px">
                  <i
                    [class]="valor.Area.icon"
                    [style.color]="valor.Area.color"
                  ></i>
                </div>
                <span class="font-bold ml-2" style="margin: 13px"
                  >{{ valor.Area.name }}
                </span>
              </td>
              <td style="text-align: end">
                <div
                  class="contenedorprecio"
                  [style.background]="valor.Area.color"
                >
                  <small
                    [style.color]="valor.Area.colorletras"
                    class="contenedorprecio__totales"
                    >${{ valor.valortotal }}</small
                  >
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="groupfooter" let-valor>
            <tr class="p-rowgroup-footer">
              <td></td>
              <td></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-valor>
            <tr>
              <td colspan="1" class="tdespacio">
                <span class="image-text">{{ valor.codigo }}</span>
              </td>
              <td colspan="2" class="tdespacio">
                {{ valor.Descripcion }}
              </td>
              <td colspan="1" class="tdespacio">
                {{ valor.cantidad }}
              </td>
              <td colspan="1" class="tdespacio">
                <span>{{ valor?.valorunitario }}</span>
              </td>
              <td colspan="2" class="tdespacio">
                {{ valor?.valortotal }}
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="contenedor__valortotal" *ngIf="!page">
          <label class="valortotal__title"> Valor Total:</label>
          <span class="valortotal__number"
            >$2.351.260
            <!-- {{ calculatevalorTotal(valor?.area?.name) }} -->
          </span>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
