<div class="contenedorgraficas">
  <div class="informacionbarras" style="width: 34%">
    <p-chart type="pie" [data]="DataPrefactura"></p-chart>
  </div>

  <div class="informacionbarras" style="width: 45%">
    <p-chart type="bar" [data]="datacombo" [options]="chartOptions"></p-chart>
  </div>

  <div class="informacionbarras" style="width: 45%">
    <p-chart
      type="bar"
      [data]="multiAxisData"
      [options]="multiAxisOptions"
    ></p-chart>
  </div>

  <div class="informacionbarras" style="width: 34%">
    <p-chart
      type="doughnut"
      [data]="dataDoughnut"
      [options]="chartOptions"
    ></p-chart>
  </div>
</div>
